:root {
    --cobalt: #0047AB;

}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color: var(--cobalt);
}

h1 {
    font-weight: 200;
}

h2 {
    font-weight: 400;
}
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid var(--cobalt);
    padding: max(10px, 2%) 0;
    position: fixed;
    top: 0;
    width: 90%;
    background: white;
    z-index: 1000; 

}


body {
    margin-top: 120px;

    padding: 0 min(5%, 100px);
}

html {
    scroll-padding-top: 100px;
}

header a, .no-dec {
    text-decoration: none;
}

nav a {
    font-weight: 400;
    margin-right: 1rem;
    text-decoration: none;
}

.project-list {
  display: flex;
  flex-direction: column; /* vertical stack */
  gap: 1rem;              /* space between cards */
}

.project-card {
  border: 1px dotted var(--cobalt);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  margin: 0;
  gap: 1rem;
}

/* .project-card img {
  object-fit: cover;
  width: 80px;
  aspect-ratio: 1 / 1;
  border: #0047AB 1px dotted;
  
} */

.project-card img {
  object-fit: cover;
  width: 80px;
  aspect-ratio: 1 / 1;
  border: #0047AB 1px dotted;
  
}

.project-card h3 {
  margin: 0 0 0.5rem;
}

.project-info {
    display: flex;
    flex-direction: column;
}

.table-of-contents-item > li {
  font-size: 1.17rem;
}

.table-of-contents-item ul li {
  font-size: 1rem;
}
.header-home {
    margin: 0 0 0 0;
}

pre {
  background: #d4e5fd; 
  padding: 1rem;
  border: 1px dashed var(--cobalt);   /* brutalist black border */
  overflow-x: auto;         /* scroll if too wide */
  /* border-radius: 5px; */
}

code {
  font-family: monospace;   /* code font */
  font-size: 1rem;
  color: #002e6e;
}

.post-image {
    max-width: 100%;
    height: auto;
    border: 1px dotted var(--cobalt);
}
