:root {
    --cobalt: #0047AB;

}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color: var(--cobalt);
}

h1 {
    font-weight: 200;
}

h2 {
    font-weight: 400;
}
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid var(--cobalt);
    padding-bottom: 0.5rem;
}


body {
    padding: 0 min(5%, 100px);
}
nav a {
    font-weight: 400;
    margin: 0 1rem;
    text-decoration: none;
}

.project-list {
  display: flex;
  flex-direction: column; /* vertical stack */
  gap: 1rem;              /* space between cards */
}

.project-card {
  border: 1px dotted var(--cobalt);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.project-card img {
  max-width: 100%;
  display: block;
  margin-bottom: 1rem;
}

.project-card h3 {
  margin: 0 0 0.5rem;
}

.project-info {
    display: flex;
    flex-direction: column;
}