:root {
    --cobalt: #0047AB;

}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color: var(--cobalt);
}

h1 {
    font-weight: 200;
}

h2 {
    font-weight: 400;
}
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid var(--cobalt);
    padding: max(10px, 2%) 0;
    position: fixed;
    top: 0;
    width: 90%;
    background: white;
    z-index: 1000; 

}


body {
    margin-top: 120px;

    padding: 0 min(5%, 100px);
}

html {
    scroll-padding-top: 80px;
}

header a, .no-dec {
    text-decoration: none;
}

nav a {
    font-weight: 400;
    margin-right: 1rem;
    text-decoration: none;
}

.project-list {
  display: flex;
  flex-direction: column; /* vertical stack */
  gap: 1rem;              /* space between cards */
}

.project-card {
  border: 1px dotted var(--cobalt);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  margin: 0;
  gap: 1rem;
}

.project-card img {
  max-width: 100%;
  display: block;
  margin-bottom: 1rem;
}

.project-card h3 {
  margin: 0 0 0.5rem;
}

.project-info {
    display: flex;
    flex-direction: column;
}

.table-of-contents-item > li {
  font-size: 1.17rem;
}

.table-of-contents-item ul li {
  font-size: 1rem;
}
.header-home {
    margin: 0 0 0 0;
}